.flex-col{
    display: flex;
    flex-direction: column;
}

.flex-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

table {
    width: 100%;
  }

.green{
    background-color: green;
}

.red{
    background-color: red;
}